body{
    font-family: Poppins, "sans-serif";
    background-color: var(--hitam-bg);
}
:root{
    --ungu-gradien: linear-gradient(91.19deg, #B78CFF 0%, #9729E7 100%);
    --ungu-gradien-hover: linear-gradient(91.19deg, #8F6DC7 0%, #6500AF 100%);
    --hitam-bg: #2E2E2E;
    --putih: #FAFAFA;
    --ungu: #9729E7;
    --abu: #969696;
}
/* NAVBAR */  
.navbar{
	/* position: absolute; */
	top: 0;
	z-index: 99999;
    background-color: rgba(255,255,255,0) !important;
}
nav .nav-link{
    font-size: 18px;
    font-weight: 500;
    color: var(--putih) !important;
    margin: 0 40px;
}
nav .nav-link:hover{
    color: var(--abu) !important;
    transition: 200ms;
}
nav .register{
    border: 1px solid var(--putih);
    border-radius: 100px;
    padding: 5px 40px !important;
}
nav .register:hover{
    border: 1px solid var(--abu);
}
nav .navbar-toggler-icon{
    color: var(--putih) !important;
}
/* AKHIR NAVBAR */

.register .text-start h1{
    position: relative;
    color: var(--hitam-bg);
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 0.3px var(--putih);
    white-space: nowrap;
    width: 550px;
}
.register .text-start h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: var(--putih);
    -webkit-text-stroke: 0vw var(--putih) !important;
    border-right: 2px solid var(--putih);
    overflow: hidden;
    animation: animate 6s linear infinite !important;
    white-space: nowrap;
}
@keyframes animate {
    0%, 10%, 100%{
        width: 0;
    }
    70%, 90%{
        width: 100%;
    }
}
.register .text-start p{
    color: var(--ungu);
    font-size: 30px;
    font-weight: 400;
}
.register label{
    color: var(--putih);
}
.register input, .register select{
    background-color: var(--abu);
    border: none !important;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    height: 50px;
    padding-left: 2em;
    color: var(--hitam-bg);
}
.register input::placeholder{
    color: var(--hitam-bg) !important;
}
.register button, .pop-up button{
    background: var(--ungu-gradien) !important;
    outline: none;
    box-shadow: 0px 7px 20px rgba(178, 118, 238, 0.4);
    border-radius: 100px;
    padding: 10px 100px;
    margin-top: 8em !important;
    text-decoration: none;
    color: var(--putih);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.register button:hover, .pop-up button:hover{
    background: var(--ungu-gradien-hover) !important;
    transition: 250ms;
    box-shadow: 0px 0px 40px rgba(178, 118, 238, 0.40);
}
.register img{
    margin-left: 8em;
}
.register .content{
    display: flex;
    align-items: flex-start;
}
section{
    height: 870px;
}
.pop-up button a{
    text-decoration: none;
    color: var(--putih);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.pop-up{
    background: rgba(34, 34, 34, 0.4);
    z-index: 2;
    position: fixed;
}
.pop-up .content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-150%) scale(0);
    width: 500px;
    height: 650px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background: var(--hitam-bg);
    border: 1px solid var(--putih);
    z-index: 1;
}
.pop-up .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 30px;
    border-radius: 50%;
    padding: 2px 5px 7px 5px;
    cursor:pointer;
}
.pop-up .input-field .validate {
    padding: 20px;
    padding-right: 150px !important;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    color: var(--abu);
    background: var(--hitam-bg);
    box-shadow: inset 5px 5px 5px #232323, 
                inset -5px -5px 5px #292929;
    outline: none;
}
@media(max-width: 991.98px){
    .register .text-start{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .register .text-start h1, .register .text-start h1::before{
        font-size: 48px;
    }
    .register .text-start h1{
        width: 410px;
    }
    .register .text-start p{
        font-size: 24px;
    }
    .register .content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .register .content img{
        width: 380px;
        margin-left: 0 !important;
    }
    .register input, .register select{
        width: 550px !important;
    }
    .register form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .register button{
        margin-bottom: 8em;
    }
}